:root {
    --headerTexttextColor: #333232;
    --catagoryColor: #757575;
}

*,
*::after,
*::before {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* main nav================================================ */
.site-logo {
    width: 110px;
    height: auto;
    /* background-color: aquamarine; */
}

.site-logo img {
    max-width: 100%;
    max-height: 100%;
}

.site-search {
    text-align: center;
}

.site-search input {
    width: 85%;
    padding: 0px 15px;
    height: 46px;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
}

.acc-wish-shop-container img {
    width: 25px;
    height: 30px;
    margin-right: 13px;
}

.shop-container {
    position: relative;
}

.shop-container a img {
    width: 20px;
    height: 25px;
}

.shop-container p {
    position: absolute;
    top: -1px;
    inset-inline-end: 7px;
    z-index: 1;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    color: #fff;
    text-align: center;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 9px;
    line-height: 15px;
}

.taka-sign {
    font-size: 13px;
    font-weight: 600;
}

/* end main nav================================================ */

/* sub nav================================================ */
.sub-nav {
    background-color: #D9D9D9;
    text-align: center;
}

.sub-nav ul {
    list-style: none;
}

.sub-nav ul li {
    display: inline-block;
    padding: 17px 7px;
}

.sub-nav ul li a {
    text-decoration: none;
    color: var(--headerTexttextColor);
    font-weight: 500;
}

/* end sub nav================================================ */

/* Search ================================================ */
.site-search {
    max-width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container {
    top: 45px;
    max-width: 80%;
    max-height: 35vh;
    overflow-y: auto;
    scrollbar-width: thin;
    z-index: 100;
    position: absolute;
    background-color: #fff;
    display: none;
    margin: auto;

}

.search-card {
    padding: 13px;
    transition: 0.3s;
}

.search-card:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

.search-card img {
    width: 70px;
    height: 70px;
}

.search-card .card-body {
    margin: 0;
    padding: 0 10px;
    min-height: 70px;
    text-align: left;
}

.search-card .card-body h4 {
    font-size: 1.2rem;
}

.search-card .card-body span {
    font-size: 1.2rem;
    font-weight: 600;
}

/* end Search ================================================ */

/* Hero ================================================ */
.hero img {
    max-width: 100%;
}

.hero {
    margin-bottom: 10px;
}

/* end Hero ================================================ */

/* order-type ================================================ */
.order-type {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-type div {
    margin: 0;
    padding: 0;
    width: 49%;
}

.order-type img {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

/* end order-type ================================================ */

/* catagory ================================================ */
.catagory img {
    max-width: 100%;
    height: auto;
}

/* .product-slider {
    display: flex;
    position: relative;
} */

/* .slider-item {
    background: grey;
    border-right: 2px solid #333;
    padding: 1.5rem .75rem;
    position: relative;

    &:before {
        content: '.slider-item';
        position: absolute;
        left: 0;
        top: 0;
        color: blue;
    }

    &:hover {
        cursor: pointer;
    }
} */

.slider-item img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
}

.tns-controls,
.tns-nav,
button[data-action="stop"] {
    display: none;
}


/* end catagory ================================================ */

/* men's footware============================================ */
.menu-name {
    margin: 13px 0;
}

.menu-name ul {
    list-style: none;
    text-align: center;
    margin: 0;
}

.menu-name ul li {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}


.menu-name ul li a {
    text-decoration: none;
    color: var(--catagoryColor);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
    position: relative;

}

.menu-name ul li:hover a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: solid 2px #333232;
    animation: border_anim .3s linear forwards;
}

.menu-name ul li a:hover {
    color: #333232;
}

@keyframes border_anim {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.slider-item {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.slider-item img {
    border-radius: 10px;
}

.card-body p {
    font-size: 1.4rem;
    font-weight: 600;
}

/* men's footware============================================ */

/* footer */
.footer-item h1 {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-item ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-item ul li {
    line-height: 3;
    color: #fff;
}

.footer-item ul li a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 1.1rem;
}

/* end footer */